<div class="design">
	<p>
		Design ID: <%= @design.id %> <br>
		Space ID: <%= @design.space_id %> <br>
		Request ID: <%= @design.request_id %> <br>
		Description: <%= @design.description %> <br>
		Comments: <%= @design.comments %> <br>
		Price Cents: <%= @design.price_cents %> <br>
		Reviewed: <%= @design.reviewed %> <br>
		Accepted: <%= @design.accepted %> <br>
		Active: <%= @design.active %> <br> 
	</p>
</div>