<%= form_for [current_user, @design] do |f| %> 
	<%= f.error_messages %>
	<p>
		<%= f.label :request %>
		<%= f.collection_select(:request_id, Request.all, :id, :description, {}, {multiple: false}) %> 
	</p>
	<p>
		<%= f.label :space %>
		<%= f.collection_select(:space_id, Space.all, :id, :description, {}, {multiple: false}) %> 
	</p>
	<p>
		<%= f.label :description %>
		<%= f.text_field :description %> 
	</p>
	<p>
		<%= f.label :comments %>
		<%= f.text_area :comments %> 
	</p>
	<p>
		<%= f.submit %>
	</p>
<% end %>