<%= form_for @design do |f| %> 
	<%= f.error_messages %>
	<p>
		<%= f.label :request %>
		<%= f.collection_select(:request_id, Request.all_submitted, :id, :description, {}, {multiple: false}) %> 
	</p>
	<p>
		<%= f.label :description %>
		<%= f.text_field :description %> 
	</p>
	<p>
		<%= f.label :comments %>
		<%= f.text_area :comments %> 
	</p>
	<p>
		<%= f.submit %>
	</p>
<% end %>