<%= form_for @planter do |f| %> 
	<%= f.error_messages %>
	<p>
		<%= f.label :name %>
		<%= f.text_field :name %>
	</p>
	<p> 
		<%= f.label :price %>
		<%= f.number_field :price_cents %>
	</p>
	<p>
		<%= f.label "Length Feet" %>
		<%= f.number_field :length_ft %>
		<%= f.label "Length Inches" %>
		<%= f.number_field :length_inch %> 
	<p>
		<%= f.label "Width Feet" %>
		<%= f.number_field :width_ft %>
		<%= f.label "Width Inches" %>
		<%= f.number_field :width_inch %>
	</p>
	<p>
		<%= f.label "Height Feet" %>
		<%= f.number_field :height_ft %>
		<%= f.label "Height Inches" %>
		<%= f.number_field :height_inch %>
	</p>
	<p>
		<%= f.label "Depth Feet" %>
		<%= f.number_field :depth_ft %>
		<%= f.label "Depth Inches" %>
		<%= f.number_field :depth_inch %> 
	</p>
	<p>
		<%= f.label :description %>
		<%= f.text_area :description%> 
	</p>
	<p>
		<%= f.label :tags, "Associate with Tags" %><br>
		<%= f.collection_select(:tag_ids, Tag.all, :id, :name, {}, {:multiple => true}) %>
	</p>
	<p>
		<%= f.submit %>
	</p>
<% end %> 
