<%= form_for @planter do |f| %> 
	<%= f.error_messages %>
	<p>
		<%= f.label :name %>
		<%= f.text_field :name %>
	</p>
	<p>
		<%= f.label "Length in Feet" %>
		<%= f.number_field :length_ft %>
	</p>
	<p>
		<%= f.label "Width in Feet" %>
		<%= f.number_field :width_ft %>
	</p>
	<p>
		<%= f.label "Height in Feet" %>
		<%= f.number_field :height_ft %>
	</p>
	<p>
		<%= f.label "Depth in Feet" %>
		<%= f.number_field :depth_ft %>
	</p>
	<p>
		<%= f.label :description %>
		<%= f.text_area :description%> 
	</p>
	<p>
		<%= f.submit %>
	</p>
<% end %> 
