<div class="planter">
	<p>
		Name: <%= @planter.name %> <br>
		Length: <%= @planter.length %> <br>
		Width: <%= @planter.width %> <br>
		Height: <%= @planter.height %> <br>
		Description: <%= @planter.description %> <br>
	</p>
</div>