<h1> Planters </h1>

<table>
	<tr>
		<th> Name </th>
		<th> Length Ft</th>
		<th> Length Inch</th>
		<th> Width Ft</th>
		<th> Width Inch </th>
		<th> Height Ft</th>
		<th> Depth Ft </th>
		<th> Depth Inch </th>
		<th> Height Inch </th>
		<th> Description </th>
	</tr>

	<% @planters.each do |planter| %>
		<tr>
			<td> <%= planter.name%> </td>
			<td> <%= planter.length_ft %> </td>
			<td> <%= planter.length_inch %> </td>
			<td> <%= planter.width_ft %> </td>
			<td> <%= planter.width_inch %> </td>	
			<td> <%= planter.height_ft %> </td>
			<td> <%= planter.height_inch %> </td>
			<td> <%= planter.depth_ft %> </td>
			<td> <%= planter.depth_inch %> </td>
			<td> <%= planter.description %> </td>
			<td> <%= link_to 'Show', planter_path(planter) %> </td>
		</tr>
	<% end %>
</table> 

<% content_for(:admin_options) do %>
	<%= link_to "New Planter", new_planter_path %>
<% end %>