<div class="design-assignment">
	<p>
		Design ID: <%= @design_assignment.design_id %> <br>
		User ID: <%= @design_assignment.user_id %> <br>
		Plant ID: <%= @design_assignment.design_plant_id %> <br>
		Planter ID: <%= @design_assignment.design_planter_id %> <br>
		Included: <%= @design_assignment.included %> <br>
		Quantity: <%= @design_assignment.quantity %> <br>
		Description: <%= @design_assignment.description %> <br>
		Comments: <%= @design_assignment.comments %> <br>
	</p>
</div>