<%= form_for [@design, @design_assignment] do |f| %>
	<%= f.error_messages %>
	<p>
		Design: <%= @design.description %> <br> 
		Plant: <%= @design_assignment.design_plant_id %> <br>
		Planter: <%= @design_assignment.design_planter_id %> <br>
	<p>
		<%= f.label :included %>
		<%= f.check_box :included %>
	</p>
	<p>
		<%= f.label :quantity %>
		<%= f.number_field :quantity %>
	</p>
	<p>
		<%= f.label :description %>
		<%= f.text_field :description %> 
	</p>
	<p>
		<%= f.label :comments %>
		<%= f.label :comments %> 
	</p>
	<%= f.submit %>
<% end %>
