<h1> Design Assignments </h1>

<table>
	<tr>
		<th> Design ID </th>
		<th> Plant ID </th>
		<th> Planter ID </th>
		<th> Included </th>
		<th> Quantity </th>
		<th> Description </th>
		<th> Comments </th> 
	</tr>

	<% @design_assigments.each do |design_assignment| %>
	<tr>
		<td> <%= design_assignment.design_id %> </td>
		<td> <%= design_assignment.design_plant_id %> </td>
		<td> <%= design_assignment.design_planter_id %> </td>
		<td> <%= design_assignment.included %> </td>
		<td> <%= design_assignment.quantity %> </td>
		<td> <%= design_assignment.description %> </td>
		<td> <%= design_assignment.comments %> </td>
	</tr>
<% end %>
