<div class="space">
	<p>
		Name: <%= @space.name %> <br>
		Length: <%= @space.length_ft %> feet <%= @space.length_inch %> inches <br>
		Width: <%= @space.width_ft %>  feet <%= @space.width_inch %> inches <br>
		Height: <%= @space.height_ft %>  feet <%= @space.height_inch %> inches <br>
		Floor: <%= @space.floor %> <br>
		Rooftop: <%= @space.is_rooftop %> <br>
		Ground: <%= @space.is_ground %> <br>
		Description: <%= @space.description %> 
	</p>
</div<