<div class="space">
	<p>
		Name: <%= @space.name %> <br>
		Length: <%= @space.length %> <br>
		Width: <%= @space.width %> <br>
		Height: <%= @space.height %> <br>
		Floor: <%= @space.floor %> <br>
		Rooftop: <%= @space.is_rooftop %> <br>
		Ground: <%= @space.is_ground %> <br>
		Description: <%= @space.description %> 
	</p>
</div<