<h1> User Spaces </h1>

<br>

<table> 
	<tr>
		<th> Name </th>
		<th> Address </th>
		<th> Description </th>
		<th> Length Ft</th>
		<th> Length Inch </th>
		<th> Width Ft</th>
		<th> Width Inch </th>
		<th> Height Ft</th>
		<th> Height Inch </th>
		<th> Floor </th>
		<th> Rooftop </th>
		<th> Ground </th>
	<tr>
	<% @spaces.each do |space| %>
		<tr>
			<td> <%= space.name %> </td>
			<td> <%= space.address.address_1 %> </td>
			<td> <%= space.description %> </td>
			<td> <%= space.length_ft %> </td>
			<td> <%= space.length_inch %> </td>
			<td> <%= space.width_ft %> </td>
			<td> <%= space.width_inch %> </td>
			<td> <%= space.height_ft %> </td>
			<td> <%= space.height_inch %> </td>
			<td> <%= space.floor %> </td>
			<td> <%= space.is_rooftop %> </td>
			<td> <%= space.is_ground %> </td>
			<td> <%= link_to 'Show', user_space_path(current_user, space) %> </td>
			<td> <%= link_to 'Edit', edit_user_space_path(current_user, space) %> </td>
			<td> <%= link_to 'Delete', user_space_path(current_user, space), method: :delete %> </td>
		</tr>
	<% end %>
</table>

<%= render 'space_links' %> 



