<div class="request-assignment">
	<p>
		Request ID: <%= @request_assignment.request_id %> <br>
		Requesed Plant ID: <%= @request_assignment.request_plant_id %> </br>
		Request Quantity: <%= @request_assignment.quantity %> <br>
		Price When Requested: <%= @request_assignment.price_cents_when_requested %> <br>
		Price Estimate: <%= @request_assignment.price_cents_estimate %> <br>
	</p>
</div>