<div class="request">
	<p>
		Request ID: <%= @request.id %> <br>
		Request Date: <%= @request.created_at %> <br>
		Request Space: <%= @request.space_id %> <br>
		Request Description: <%= @request.description %> <br>
		Request Submitted: <%= @request.submitted %> <br>
	</p>
</div> 