<h1> Plant Index </h1> 

<table> 
	<tr>
		<th> Name </th>
		<th> Description </th>
	</tr>

	<% @plants.each do |plant| %>
		<tr>
			<td> <%= plant.name %> </td>
			<td> <%= plant.description %> </td>
			<td> <%= link_to 'Show', plant_path(plant) %> </td>
			<td> <%= link_to 'Request Assignmemt', plant_request_assignment_path(current_user, plant) %> </td>
		</tr>
	<% end %>
</table>

<%= render 'plant_links' %>