<h1> User Addresses </h1>

<br>

<table> 
	<tr>
		<th> Name </th>
		<th> Address Line 1 </th>
		<th> Address Line 2 </th>
		<th> City </th>
		<th> State </th>
		<th> Zip </th>
		<th> </th>
		<th> </th>
		<th> </th>
	</tr>
	<% @addresses.each do |address| %>
		<tr>
			<td> <%= address.name %> </td>
			<td> <%= address.address_1%> </td>
			<td> <%= address.address_2 %> </td>
			<td> <%= address.city %> </td>
			<td> <%= address.state %> </td>
			<td> <%= address.zip %> </td>
			<td> <%= link_to 'Show', user_address_path(current_user, address) %> </td>
			<td> <%= link_to 'Edit', edit_user_address_path(current_user, address) %> </td>
			<td> <%= link_to 'Delete', user_address_path(current_user, address), method: :delete %> </td>
		</tr>
	<% end %>
	<tr>
		<td> <%= link_to "New Address", new_user_address_path(current_user) %> </td>
	</tr>
</table>



