<!DOCTYPE html>
<html>
<head>
  <title>Durham</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>

<header>
	<table class="nav">
		<% if current_user %> 
			<tr>
				<th> <%= link_to current_user.user_email, user_path(current_user) %> </th>
				<th> <%= link_to "Addresses", user_addresses_path(current_user) %> </th>
				<th> <%= link_to "Plants", controller: 'plants', action: 'index' %> </th>
			</tr>
			<tr>
				<th> <%= link_to "Sign Out", log_out_path %> </th>
				<th> <%= link_to "Spaces", user_spaces_path(current_user) %> </th>
				<th> <%= link_to "Planters", controller: 'planters', action: 'index' %> </th>
			</tr>
			<tr>
				<th> </th>
				<th> <%= link_to "Requests", user_requests_path(current_user) %> </th>
				<th> <%= link_to "Tags", controller: 'tags', action: 'index' %> </th>
			</tr>
			<tr> 
				<th> </th>
				<th> <%= link_to "Designs", user_designs_path(current_user) %> </th> 
			</tr>
		<% else %>
			<tr>
				<th> <%= link_to "Sign In", log_in_path %> </th>
				<th> <%= link_to "Sign Up", sign_up_path %> </th>
			</tr>
		<% end %>
		</table>	
</header>
<body>
	<div class="messages">
		<div class="flash-messages">
			<% unless flash.empty? %>
				Notice:
				<% flash.each do |name, msg| -%>
					<%= content_tag :div, msg, class: name %>
				<% end %> 
			<% end %>
		</div>	

		<div class="error-messages">
			<h3> 
				<%= content_for?(:error_messages) ? 'Did You Know?' : '' %> 
			</h3>

			<%= yield :error_messages %>

		</div>

	</div>

	<div class ="content">

		<div class="details">

			<%= yield :details %>

		</div>
		
		<%= yield %> 

		<h4> <%= content_for?(:user_options) ? 'Options' : ''%> </h4>
		
		<%= yield :user_options %> 

		<% if current_user %>
			<% if current_user.is_admin %>  
				<div class="admin">
					<h4> <%= content_for?(:admin_options) ? 'Administrative Options' : '' %> </h4>
					<%= yield :admin_options %>
				</div>
			<% end %> 
		<% end %> 
	</div> 

</body>
</html>
