<!DOCTYPE html>
<html>
<head>
  <title>Durham</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>

<header>
	<table class="nav">
		<% if current_user %> 
			<tr>
				<th> <%= link_to current_user.user_email, user_path(current_user) %> </th>
				<th> <%= link_to "Sign Out", log_out_path %> </th>
				<th> <%= link_to "My Addresses", user_addresses_path(current_user) %> </th>
				<th> <%= link_to "My Spaces", user_spaces_path(current_user) %> </th>
			</tr>
			<tr>
				<th> </th>
				<th> </th>
				<th> <%= link_to "All Plants", controller: 'plants', action: 'index' %> </th>
				<th> <%= link_to "All Planters", controller: 'planters', action: 'index' %> </th>
				<th> <%= link_to "All Tags", controller: 'tags', action: 'index' %> </th>
				<th> <%= link_to "All Tag Assignments", controller: 'tag_assignments', action: 'index' %> 
			</tr>
			<% if current_user.is_admin %> 
				<tr>
					<th> </th>
					<th> </th>
					<th> <%= link_to "New Plant", new_plant_path %> </th>
					<th> <%= link_to "New Planter", new_planter_path %> </th>
					<th> <%= link_to "New Tag", new_tag_path %> </th>
				</tr>
			<% end %>
		<% else %>
			<tr>
				<th> <%= link_to "Sign In", log_in_path %> </th>
				<th> <%= link_to "Sign Up", sign_up_path %> </th>
			</tr>
		<% end %>
		</table>	
</header>
<body>
	<div class="messages">
		<div class="flash-messages">
			<% unless flash.empty? %>
				<h3> 
					Notice!  
				</h3>

				<% flash.each do |name, msg| -%>
					<%= content_tag :div, msg, class: name %>
				<% end %> 
			<% end %>
		</div>	

		<div class="error-messages">
			<h3> 
				<%= content_for?(:error_messages) ? 'Did You Know?' : '' %> 
			</h3>

			<%= yield :error_messages %>

		</div>
	</div>

	<%= yield %> 

	<% if current_user %>
		<% if current_user.is_admin %>  
			<div class="admin">
				<%= yield :admin_options %>
			</div>
		<% end %> 
	<% end %> 

</body>
</html>
